// FONT

@font-face {
  font-family: 'batmfa';
  src: url('./../../../assets/fonts/batman_forever/batmfa__.ttf');
}

@font-face {
  font-family: 'batgoth';
  src: url('./../../../assets/fonts/gotham-nights-font/GothamNights-e49g.ttf');
}

@font-face {
  font-family: 'dirtyjoke';
  src: url('./../../../assets/fonts/diediedie/DIEDIEDI.TTF');
}

@font-face {
  font-family: 'nygma';
  src: url('./../../../assets/fonts/Indie_Flower/IndieFlower-Regular.ttf');
}

$BatForever: 'batmfa', Arial, sans-serif;
$BatGoth: 'batgoth', Arial, sans-serif;
$DirtyJoke: 'dirtyjoke', Arial, sans-serif;
$Nygma: 'nygma', Arial, sans-serif;

// COLOR

$Black: #000;
$White: #fff;
